body,
html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero {
    font-size: inherit;
    padding-bottom: 16.875em;
    padding-top: 9.375em;
    position: relative;
    z-index: 1;
    width: 100vw;
  }


#hero picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -11;
  }
  #hero picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #hero .hero-content {
    display: flex;
    width: 96%;
    max-width: 71.5em;
    margin: auto;
    position: relative;
    z-index: 10;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #hero .hero-content {
    padding: 0;
  }

  .heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    text-align: center;
    margin: 1em;
    gap:1em;
  }
  .heroText p{
    color: black;
    font-size: 20px;
    font-family: 'futura-pt',sans-serif;
    font-weight: 400;
    margin-left:    .5em;
    margin-right: .5em;
  }


  h1{
    color:black;
    font-size: 35px;
    font-family: 'futura-pt',sans-serif;
    font-weight: 400;
}
.graph {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.card1 img{
    margin-top: 10px;

}

#steps {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 3.125em 5em;
    flex-wrap: wrap;
    background-color: #2D546B;
    margin: 3.125em 5em;
    width:100%;
    gap: 5vw;
    border-radius: 25px;
    max-width: 1000px;
    box-shadow: -10px 10px 10px rgb(52, 46, 46);
 }

 #steps.reverse {
    flex-wrap: wrap-reverse;
 }

 .card1{
    min-height: 581px;
 }
.percentile p{
    margin-left: 1em;
    margin-right: 1em;
}

main {
    display:flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgba(255,255,255, 0.56)),repeating-linear-gradient(135deg, rgba(255,255,255, 0.56) 0px, rgba(255,255,255, 0.56) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgba(38,207,255, 0.27) 0px, rgba(38,207,255, 0.27) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgba(255,255,255, 0.56),rgba(255,255,255, 0.56));

   
}

select, .doesCollegePay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat',sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2D546B;
    border: 2px solid #2D546B;
    background-color: white;
    text-transform: capitalize;
    text-align: center;
    width: 250px;
    padding: 5px;
    min-height: 45px;
    border-radius: 5px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.583);
}

.container {
    flex-direction: column;
    gap: 1em;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
}

.infoContainer{
    flex-direction: column;
    width: 320px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
}

.content p{
    padding: .2em;
}
.undraw{
    height: 200px;
}

.infoContainer,
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #FFFFFF;
    justify-content: space-evenly; 
}

.dataTitle p{
    padding: .2em;
}

.font20 {
    text-align: center;
    font-family: 'futura-pt',sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 30px;
}

.font14 {
    display: flex;
    font-family: 'futura-pt',sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: white;
    text-align: center;
    height: 20px;
}

.dataTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.percentile,
.percentileText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.percentileText {
    gap: 300%;
}

.boxplot{
    display: flex;
    justify-content: center;
}

.boxplot img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
}
hr.solid {
    
        border-top: 1px solid white;
        border-radius: 5px;
        width: 100%;
        margin: 2em 0;

}



@media only screen and (min-width: 0em) {
    main {
        padding-left: 5px;
        padding-right: 5px;
     
    }
    .margin30{
        margin-bottom: 30px;
    }

    h1{
        max-width: 158px;
    }

    hr.solid {
        width: 75%;
    }
    .percentile p{
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media only screen and (min-width: 336px) {
    .margin30{
        margin-bottom: 0;
    }

    h1{
        max-width: 500px;
    }
}

@media only screen and (min-width: 401px) {
    main {
        padding-left: 2em;
        padding-right: 2em;
    }
    .percentile p{
        margin-left: 0;
        margin-right: 0;
    }
}